/* reset all */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/images/IMG_7496.JPEG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

header {
  margin: 15px 15px;
  display: flex;
  justify-content: end;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form, h1, label, input {
  margin-bottom: 25px;
}

label {
  font-size: 20px;
}

input[type="text"], input[type="date"] {
  padding: 5px;
}

.btns {
  border-radius: 5px;
  padding: 5px;
  transition: ease 0.5s;
}

#logOut:hover {
  background-color: rgb(177, 176, 176);
}

#addTaskBtn {
  background-color: green;
  transition: ease 0.5s;
}

#addTaskBtn:hover {
  background-color: rgb(0, 110, 0);
}

#clearBtn, .delete-btn {
  background-color: red;

}

#clearBtn:hover, .delete-btn:hover {
  background-color: rgb(192, 0, 0);
}

.tasks {
  display: flex;
  flex-direction: column;
}

.tasks h2 {
  text-align: center;
}

#res {
  margin: auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.card-item {
  width: 250px;
  height: 150px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

.task_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.risk_item {
  text-decoration: line-through;
  color: rgb(14, 14, 14);
  background-color: rgba(157, 250, 169, 0.5);
}

@media screen and (max-width: 600px) {

  form, h1, label, input {
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2px auto;
  }
   #res {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .btns {
    margin: auto;
    margin-top: 10px;
    width: 30%;
    height: 30px;
  }

  .card-item {
    display: flex;
    text-align: center;
    align-items: center;
  }

  /* .card-item input[type="checkbox"] {
    width: 30px;
  } */

  .delete-btn {
    width: 100%;
  }
}